.gcm-horizontal-column {
    @extend .pt-6;
    @extend .gcm-vertical-column;
    background: $columns-horizontal-bg;
}

.gcm-horizontal-column__row {
    @extend .row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .rightbox,
    .leftbox {
        -webkit-box-shadow: 0px 0px 20px 0px #E6EFF6;
        -moz-box-shadow: 0px 0px 20px 0px #E6EFF6;
        box-shadow: 0px 0px 20px 0px #E6EFF6;
        //@extend .col-sm-6;
        //@extend .col-lg-3;
        flex:0 0 calc(25% - 30px);
        max-width: calc(25% - 30px);

        .editor_mini {
            @extend .text-center;
        }
    }
}