.language {
    @extend .dropdown;

    .access {
        display: none;
    }

    z-index: 1001;
    display: inline;
    padding: 4px;
    background: #FFF;

    &.language--mob {
        background: transparent;
    }

    a {
        text-decoration: none;
        color: #4D4D4D;
    }
   

    ul {
        min-width: 1rem;
        color: $color-highlighting-text;
        background: $color-highlighting-bg;

        li {
            .act {
                color: $color-highlighting-text;
            }

            a,
            span {
                @extend .dropdown-item;

                color: $color-highlighting-text;

                &:hover {
                    color: $color-highlighting-text;
                    background: $color-link;
                }
            }
        }
    }
}
