$swiper-text-color: #fff !default;
$swiper-text-bg: black !default;
$swiper-max-width: 1920px;

.swiper-container1 {
    @extend .position-relative;
    @extend .d-print-none;
    @extend .d-none;
    @extend .mr-auto;
    @extend .ml-auto;

    max-width: $swiper-max-width;
    overflow: hidden;

    .homepage & {
        @include media-breakpoint-up(sm) {
            display: block !important;
        }
    }

    .swiper-slide-image {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        animation: swiper 40s linear backwards infinite;

        @extend .embed-responsive;

        @media only screen and (min-width: $swiper-max-width) {
            max-height: $slideshow-height * 1.333333px;
        }

        &::before {
            padding-top: percentage($slideshow-height / 1440);
        }

        body.homepage & {
            @media only screen and (min-width: $swiper-max-width) {
                max-height: $slideshow-height-HP * 1.333333px;
            }

            &::before {
                padding-top: percentage($slideshow-height-HP / 1440);
            }
        }
    }

    .swiper-slide-active {
        z-index: 1;
    }

    .swiper-info-text {
        position: absolute;
        bottom: 0;
        padding: 15px;
        //margin: 15px;
        width: 100%;
        height: 60px;
        color: #003566;
        border-radius: $border-radius;
        background: rgba(251, 187, 14, 0.8);
        text-align: center;

        p {
            margin-bottom: 0;
        }
    }

    .swiper-slide-text {
        position: absolute;
        bottom: 1%;
        padding: 15px;
        margin: 15px;
        color: $swiper-text-color;
        border-radius: $border-radius;
        background: rgba($swiper-text-bg, 0.7);

        p {
            margin-bottom: 0;
        }

        h2,
        h3,
        h4,
        h5,
        a {
            color: $swiper-text-color;
        }
    }

    .swiper-button-prev1,
    .swiper-button-next1 {
        position: absolute;
        top: 50%;
        left: 25px;
        z-index: 10;
        width: 27px;
        height: 44px;
        margin-top: -22px;
        background-image: none;
        cursor: pointer;

        &::before {
            /*
            @include gcm-fa-icon;

            content: "";
            font-size: 70px;
            color: $color-link;
            */
        }

        &:hover {
            &::before {
                color: $color-hover;
            }
        }
    }

    .swiper-button-next1 {
        right: 25px;
        left: auto;

        &::before {
            content: "";
        }
    }

    .swiper-pagination-bullet {
        display: inline-block;
        opacity: 0.8;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: #fff;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: blue;
    }

    .swiper-scrollbar {
        border-radius: 10px;
        background: rgba(#fff, 0.4);
    }

    .swiper-scrollbar-drag {
        border-radius: 10px;
        background: rgba(#fff, 0.7);
    }

    /* @keyframes swiper {
        0% {
            transform: scale(1.2) translate(0, 0);
        }
        50% {
            transform: scale(1.3) translate(-75px, -40px);
        }
        100% {
            transform: scale(1.2) translate(0, 0);
        }
    } */
}
